USE [master]
GO
/****** Object:  Database [BankManagementSystem]    Script Date: 6/27/2024 11:23:53 PM ******/
CREATE DATABASE [BankManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BankManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankManagementSystem]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[AccountNumber] [varchar](50) NULL,
	[AccountType] [varchar](50) NULL,
	[Balance] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account2]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account2](
	[AccountID] [varchar](20) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountNumber] [varchar](20) NOT NULL,
	[AccountType] [varchar](20) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Account__349DA586B59C7AEC] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Card]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Card](
	[CardID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CardNumber] [varchar](20) NOT NULL,
	[CardType] [varchar](20) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[CVV] [varchar](4) NOT NULL,
	[PIN] [varchar](255) NOT NULL,
	[Balance] [decimal](18, 0) NULL,
 CONSTRAINT [PK__Card__55FECD8EC7F39B21] PRIMARY KEY CLUSTERED 
(
	[CardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loan]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loan](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [varchar](20) NOT NULL,
	[LoanType] [varchar](20) NOT NULL,
	[LoanAmount] [decimal](18, 2) NOT NULL,
	[InterestRate] [decimal](5, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[CreditLimit] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__Loan__4F5AD437C4D1870C] PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanTransaction]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanTransaction](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[LoanDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingsAccount]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingsAccount](
	[SavingsID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[InterestRate] [float] NOT NULL,
	[OpeningDate] [date] NOT NULL,
 CONSTRAINT [PK__SavingsA__D75CB7D269826B4B] PRIMARY KEY CLUSTERED 
(
	[SavingsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavingTransaction]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavingTransaction](
	[SavingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[SavingDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SavingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[NumberCard] [varchar](20) NOT NULL,
	[ToNumberCard] [varchar](20) NOT NULL,
	[TransactionContent] [nvarchar](max) NULL,
	[TransactionType] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Transact__55433A4B9CC31FA6] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/27/2024 11:23:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccountID], [CustomerID], [AccountNumber], [AccountType], [Balance]) VALUES (1, 14, N'14SA', N'Savings', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Account] ([AccountID], [CustomerID], [AccountNumber], [AccountType], [Balance]) VALUES (2, 15, N'15SA', N'Savings', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Account] ([AccountID], [CustomerID], [AccountNumber], [AccountType], [Balance]) VALUES (3, 23, N'23SA', N'Savings', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
INSERT [dbo].[Account2] ([AccountID], [CustomerID], [AccountNumber], [AccountType], [Balance]) VALUES (N'1', 1, N'1SA', N'Savings', CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Account2] ([AccountID], [CustomerID], [AccountNumber], [AccountType], [Balance]) VALUES (N'6', 9, N'9SA', N'Savings', CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Card] ON 

INSERT [dbo].[Card] ([CardID], [CustomerID], [CardNumber], [CardType], [ExpiryDate], [CVV], [PIN], [Balance]) VALUES (11, 9, N'0009188432651094', N'Prepaid Card', CAST(N'2027-06-26' AS Date), N'656', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(50000000 AS Decimal(18, 0)))
INSERT [dbo].[Card] ([CardID], [CustomerID], [CardNumber], [CardType], [ExpiryDate], [CVV], [PIN], [Balance]) VALUES (12, 9, N'0009713109772250', N'Credit Card', CAST(N'2027-06-26' AS Date), N'209', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(50000000 AS Decimal(18, 0)))
INSERT [dbo].[Card] ([CardID], [CustomerID], [CardNumber], [CardType], [ExpiryDate], [CVV], [PIN], [Balance]) VALUES (13, 9, N'0009064005061295', N'Debit Card', CAST(N'2027-06-26' AS Date), N'779', N'03ac674216f3e15c761ee1a5e255f067953623c8b388b4459e13f978d7c846f4', CAST(50000000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Card] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'1234567890', N'123 Main St')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (4, N'John', N'Doe', N'john2.doe@example.com', N'1234567890', N'123 Main St')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [Email], [Phone], [Address]) VALUES (5, N'Nguy?n Anh', N'Quy?t', N'quyet@gmail.com', N'01234567879', N'HCm')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Loan] ON 

INSERT [dbo].[Loan] ([LoanID], [AccountID], [LoanType], [LoanAmount], [InterestRate], [StartDate], [EndDate], [CreditLimit]) VALUES (14, N'1', N'Personal Loan', CAST(4201000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2024-06-26' AS Date), CAST(N'2025-06-26' AS Date), CAST(5000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Loan] OFF
GO
SET IDENTITY_INSERT [dbo].[LoanTransaction] ON 

INSERT [dbo].[LoanTransaction] ([LoanID], [CustomerID], [Amount], [LoanDate]) VALUES (1, 27, CAST(587067.00 AS Decimal(18, 2)), CAST(N'2024-05-27T16:49:13.123' AS DateTime))
INSERT [dbo].[LoanTransaction] ([LoanID], [CustomerID], [Amount], [LoanDate]) VALUES (2, 27, CAST(2980876.13 AS Decimal(18, 2)), CAST(N'2024-04-27T16:49:13.127' AS DateTime))
INSERT [dbo].[LoanTransaction] ([LoanID], [CustomerID], [Amount], [LoanDate]) VALUES (3, 27, CAST(1248446.18 AS Decimal(18, 2)), CAST(N'2024-03-27T16:49:13.127' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LoanTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[SavingsAccount] ON 

INSERT [dbo].[SavingsAccount] ([SavingsID], [CustomerID], [Balance], [InterestRate], [OpeningDate]) VALUES (1, 1, CAST(1025000.00 AS Decimal(18, 2)), 5, CAST(N'2024-06-27' AS Date))
INSERT [dbo].[SavingsAccount] ([SavingsID], [CustomerID], [Balance], [InterestRate], [OpeningDate]) VALUES (2, 27, CAST(100011000.00 AS Decimal(18, 2)), 7, CAST(N'2024-06-27' AS Date))
SET IDENTITY_INSERT [dbo].[SavingsAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[SavingTransaction] ON 

INSERT [dbo].[SavingTransaction] ([SavingID], [CustomerID], [Amount], [SavingDate]) VALUES (1, 27, CAST(146483.19 AS Decimal(18, 2)), CAST(N'2024-05-27T16:48:41.360' AS DateTime))
INSERT [dbo].[SavingTransaction] ([SavingID], [CustomerID], [Amount], [SavingDate]) VALUES (2, 27, CAST(180353.62 AS Decimal(18, 2)), CAST(N'2024-04-27T16:48:41.673' AS DateTime))
INSERT [dbo].[SavingTransaction] ([SavingID], [CustomerID], [Amount], [SavingDate]) VALUES (3, 27, CAST(345655.24 AS Decimal(18, 2)), CAST(N'2024-03-27T16:48:41.673' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SavingTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([TransactionID], [NumberCard], [ToNumberCard], [TransactionContent], [TransactionType], [Amount], [TransactionDate]) VALUES (5130, N'0027755233368626', N'27755233368626', N'Fake transaction 1', N'Debit', CAST(38412.75 AS Decimal(18, 2)), CAST(N'2021-12-20T18:52:08.953' AS DateTime))
INSERT [dbo].[Transaction] ([TransactionID], [NumberCard], [ToNumberCard], [TransactionContent], [TransactionType], [Amount], [TransactionDate]) VALUES (5131, N'0027755233368626', N'27755233368626', N'Fake transaction 2', N'Credit', CAST(77457.30 AS Decimal(18, 2)), CAST(N'2021-08-28T18:52:08.963' AS DateTime))
INSERT [dbo].[Transaction] ([TransactionID], [NumberCard], [ToNumberCard], [TransactionContent], [TransactionType], [Amount], [TransactionDate]) VALUES (5132, N'0027755233368626', N'27755233368626', N'Fake transaction 3', N'Debit', CAST(26740.44 AS Decimal(18, 2)), CAST(N'2022-10-21T18:52:08.967' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [CustomerID], [Username], [Password]) VALUES (1, 1, N'john.doe@example.com', N'00b9e6622317a2fb628d5514b866d4e7c52b5b149027825645ae3fd72827e84e')
INSERT [dbo].[User] ([UserID], [CustomerID], [Username], [Password]) VALUES (2, 4, N'john2.doe@example.com', N'ef92b778bafe771e89245b89ecbc08a44a4e166c06659911881f383d4473e94f')
INSERT [dbo].[User] ([UserID], [CustomerID], [Username], [Password]) VALUES (3, 5, N'quyet@gmail.com', N'15e2b0d3c33891ebb0f1ef609ec419420c20e320ce94c65fbc8c3312448eb225')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Account__BE2ACD6FA1AC671F]    Script Date: 6/27/2024 11:23:53 PM ******/
ALTER TABLE [dbo].[Account2] ADD  CONSTRAINT [UQ__Account__BE2ACD6FA1AC671F] UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Card__A4E9FFE9B18B2376]    Script Date: 6/27/2024 11:23:53 PM ******/
ALTER TABLE [dbo].[Card] ADD  CONSTRAINT [UQ__Card__A4E9FFE9B18B2376] UNIQUE NONCLUSTERED 
(
	[CardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__A9D105347A6B1BF8]    Script Date: 6/27/2024 11:23:53 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__536C85E478A17812]    Script Date: 6/27/2024 11:23:53 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Transaction] ADD  CONSTRAINT [DF__Transacti__Trans__00200768]  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Account2]  WITH CHECK ADD  CONSTRAINT [FK__Account__Custome__3B75D760] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Account2] CHECK CONSTRAINT [FK__Account__Custome__3B75D760]
GO
ALTER TABLE [dbo].[Card]  WITH CHECK ADD  CONSTRAINT [FK__Card__CustomerID__4CA06362] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Card] CHECK CONSTRAINT [FK__Card__CustomerID__4CA06362]
GO
ALTER TABLE [dbo].[Loan]  WITH CHECK ADD  CONSTRAINT [FK__Loan__AccountID__3E52440B] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account2] ([AccountID])
GO
ALTER TABLE [dbo].[Loan] CHECK CONSTRAINT [FK__Loan__AccountID__3E52440B]
GO
ALTER TABLE [dbo].[SavingsAccount]  WITH CHECK ADD  CONSTRAINT [FK__SavingsAc__Custo__160F4887] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[SavingsAccount] CHECK CONSTRAINT [FK__SavingsAc__Custo__160F4887]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
USE [master]
GO
